body{
  background-color: var(--spotify-grey);
}
.input {
  display: inline-flex;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 1.5rem;
}
.input #button{
  width: 50%;
  margin: 0;
  border: 0;
  background: var(--spotify-black);
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color)
}

.input #button[nav-selected="true"]{
  width: 50%;
  margin: 0;
  padding: 0;
  border: none;
  background: var(--theme-color);
  color: var(--spotify-black);
  border-bottom: 2px solid var(--spotify-black);
  font-weight: 600;
}
.swkey{
  position: fixed;
  background-color: var(--theme-color);
  color: var(--spotify-black);
  height: 1rem;
  width: 100%;
  bottom: 0px;
  z-index: 2;
  line-height: 2rem;
  text-align: center;
  border-top: 2px solid var(--spotify-black);
}
.skipPrevious{
  position: fixed; 
  padding-left: 5px;
  left: 0;
  line-height: 0.9em;
  height: 0.9rem;
  bottom: 0;
  width: 49.5%;
  z-index: 2;
  background: var(--theme-color);
  text-align: left;

} 
.skipNext{
  padding-right: 5px;
  position: fixed; 
  right: 0;
  line-height: 0.9rem;
  width: 49.5%;
  height: 0.9rem;
  bottom: 0;
  z-index: 2;
  background: var(--theme-color);
  text-align: right;

} 
.togglePlay{
  position: fixed;
  bottom: 0;
  height: 2rem;
  width: 2rem;
  left: calc(50%-1rem);
  background-color: var(--theme-color);
  color: var(--spotify-black);
  padding: 0;
  z-index: 1;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-style: solid;
  border-color: var(--spotify-black);
  border-width: 2px 2px 0px 2px;
}
.playbackstate{
  position: fixed;
  width: 1rem;
  height: 1rem;
  bottom: 0.5rem;
  left: calc(50%-0.5rem);
  z-index: 3;
}
.skipNext img{
  height: 0.9rem;
  width: 0.9rem;
}
.skipPrevious img{
  height: 0.9rem;
  width: 0.9rem;
}
