:root {
  --statusbar-height: 2.6rem;
  --softkeybar-height: 3rem;
  --theme-color: #1DB954;
  --spotify-black: #191414;
  font-family: "Open Sans";
}

.input {
  display: inline-flex;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.input #button{
  width: 50%;
  margin: 0;
  border: 0;
  background: var(--spotify-black);
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color)
}

.input #button[nav-selected="true"]{
  width: 50%;
  margin: 0;
  padding: 0;
  border: none;
  background: var(--theme-color);
  color: var(--spotify-black);
  border-bottom: 2px solid var(--spotify-black);
  font-weight: 600;
}
.swkey{
  position: fixed;
  background-color: var(--theme-color);
  color: var(--spotify-black);
  height: 1rem;
  width: 100%;
  bottom: 0px;
  z-index: 1;
  text-align: center;
  line-height: 2rem;
}
.skipPrevious{
  position: fixed; 
  left: 0;
  line-height: 1rem;
  min-width: 1rem;
  height: 1rem;
  bottom: 0;
} 
.skipNext{
  position: fixed; 
  right: 0;
  line-height: 1rem;
  min-width: 1rem;
  height: 1rem;
  bottom: 0;
} 
.togglePlay{
  position: fixed;
  bottom: 0;
  height: 2rem;
  width: 2rem;
  left: calc(50%-1rem);
  background-color: var(--theme-color);
  color: var(--spotify-black);
  border: none;
  border-radius: 0.5rem;
  padding: 0;
  z-index: 2;
}
.togglePlay img{
  width: 60%;
  height: 60%;
}
.skipNext img{
  height: 100%;
  width: 100%;
}
.skipPrevious img{
  height: 100%;
  width: 100%;
}

.tabs{
  display: none;
}